<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
<!--    HIS视图Oracle ODBC 配置-->
    <add key="HIS_Ora_Conn_String" value="DSN=gzzs1stHIS;UID=HPIS;PWD=HPIS;"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <applicationSettings>
        <LGInterface.Properties.Settings>
            <setting name="LGInterface_GuangZhouZhongShan1St_RequestNote"
                serializeAs="String">
                <value>http://168.168.252.112:4463/RequestNote</value>
            </setting>
        </LGInterface.Properties.Settings>
    </applicationSettings>
</configuration>
